ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* 1. The CSS for all paragraph tags to "color: red;" */
p {
  color: red;
}

/* 2. The CSS for all elements with a class of "note" to "font-size: 20px;" */
.class-name {
  font-size: 20px;
}

/* 3. The CSS for the element with an id of "id-selector-demo" to "color: green;" */
#id-selector-demo {
  color: green;
}

/* 4. The CSS for the li elements that have the "value" attribute set to "4" to have "color: blue;" */
li[value="4"] {
  color: blue;
}

/* 5. All elements to have "font-family: sans-serif;" */
* {
  text-align: center;
}
